<div class="parent">
  <div class="container">
    <nav class="header-menu">
      <ul class="header-menu-items">
        <li class="header-menu-item border-left">
          <a href="/planner" target="_blank">
            <span
              class="header-menu-img"
              style="
                background-image: url('../../assets/images/header/journey-planner.png');
              "
            ></span>
            {{ "journey planner" | translate }}
          </a>
        </li>
        <li class="header-menu-item">
          <a href="/timetables" target="_blank">
            <span
              class="header-menu-img"
              style="
                background-image: url('../../assets/images/header/timetable.png');
              "
            ></span>
            {{ "timetables" | translate }}
          </a>
        </li>
        <li class="header-menu-item">
          <a href="/buses" target="_blank">
            <span
              class="header-menu-img"
              style="
                background-image: url('../../assets/images/header/head-menu-bus.png');
              "
            ></span>
            {{ "real time bus" | translate }}
          </a>
        </li>
        <li class="header-menu-item">
          <a href="/stops" target="_blank">
            <span
              class="header-menu-img"
              style="
                background-image: url('../../assets/images/header/tablo.png');
              "
            ></span>
            {{ "bus stop" | translate }}
          </a>
        </li>
        <li class="header-menu-item">
          <a href="https://parking.tbilisi.gov.ge/" target="_blank">
            <span
              class="header-menu-img"
              style="
                background-image: url('../../assets/images/header/parking.png');
              "
            ></span>
            {{ "tbilisi parking" | translate }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
