<div class="spinner-container" *ngIf="isLoading">
  <div class="spinner">
    <div class="card flex justify-content-center">
      <p-progressSpinner ariaLabel="loading" />
    </div>
  </div>
</div>

<section *ngIf="!isLoading">
  <div class="container">
    <div class="inner-content">
      <div class="profile-card">
        <div class="avatar">
          <img src="{{ profileData.avatar }}" alt="Avatar" />
        </div>
        <div class="profile-info">
          <h1>{{ "Name" | translate }}: {{ profileData.name }}</h1>
          <h1 class="email">
            {{ "Email" | translate }}: {{ profileData.email }}
          </h1>
          <h1 class="creation-date">
            {{ "Creation Date" | translate }}:
            {{ profileData.creationAt | date }}
          </h1>
          <h1 class="role">{{ "Role" | translate }}: {{ profileData.role }}</h1>
        </div>
      </div>
      <div class="bio">
        <h1>{{ "Bio" | translate }}</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
          distinctio vitae esse et neque eligendi praesentium labore tenetur
          quasi dolores? Non saepe optio recusandae esse! Sint laboriosam natus
          delectus in!
        </p>
      </div>
    </div>
  </div>
  <div class="menu">
    <div class="card">
      <div class="dock-window">
        <p-dock [model]="items" [position]="'bottom'">
          <ng-template pTemplate="item" let-item>
            <img [src]="item.icon" [alt]="item.label" width="100%" />
          </ng-template>
        </p-dock>
      </div>
    </div>
  </div>
</section>
