<app-header-bottom></app-header-bottom>
<swiper-container class="mySwiper" navigation="true">
  <swiper-slide>
    <div class="slide slide-1">{{ "HAVE A NICE JOURNEY" | translate }}</div>
  </swiper-slide>
  <swiper-slide>
    <div class="slide slide-2">{{ "HAVE A NICE JOURNEY" | translate }}</div>
  </swiper-slide>
  <swiper-slide>
    <div class="slide slide-3">{{ "HAVE A NICE JOURNEY" | translate }}</div>
  </swiper-slide>
</swiper-container>
<app-img-navigation></app-img-navigation>
<app-news></app-news>
