.auth-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 50px;
}
.auth-form {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.auth-form h2 {
  text-align: center;
  margin-bottom: 20px;
}
.auth-form input[type="text"],
.auth-form input[type="email"],
.auth-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.auth-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
}
.auth-form input[type="submit"]:hover {
  background-color: #cc0000;
}

.register-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  color: #777676;
  text-align: center;
}

.register-container a:hover {
  text-decoration: underline;
}

.wrong-password {
  border: 2px solid rgb(255, 0, 0);
}

.error {
  display: none;
  justify-content: center;
  color: #ff0000;
  font-size: 16px;
}
.d-flex {
  display: flex;
}

@media (max-width: 450px) {
  .auth-container {
    padding: 10px;
  }
}
