<app-header-bottom></app-header-bottom>
<section>
  <div class="container">
    <h1 class="page-title with-line caps">{{ "tariffs" | translate }}</h1>
    <div class="tariffs-items">
      <div class="item">
        <article>
          <a href="">
            <div class="item-link item-1">
              <h2 class="tariff-nav-title caps">Standard tariff</h2>
            </div>
          </a>
        </article>
      </div>
      <div class="item">
        <article>
          <a href="">
            <div class="item-link item-2">
              <h2 class="tariff-nav-title caps">Metromoney card</h2>
            </div>
          </a>
        </article>
      </div>
      <div class="item">
        <article>
          <a href="">
            <div class="item-link item-3">
              <h2 class="tariff-nav-title caps">PREFERENTIAL TARIFFS</h2>
            </div>
          </a>
        </article>
      </div>
      <div class="item">
        <article>
          <a href="">
            <div class="item-link item-4">
              <h2 class="tariff-nav-title caps">Payment control</h2>
            </div>
          </a>
        </article>
      </div>
    </div>
  </div>
</section>
