<section>
  <div class="container">
    <div class="front-image-nav-items clearfix">
      <article
        class="image-nav-block item-1-2 image-black-level-50"
        style="background-image: url('../../assets/images/nav/app.jpg')"
      >
        <a href="" class="image-nav-block-link"> </a>
        <div class="img-nav-links">
          <a
            href="https://play.google.com/store/apps/details?id=com.azry.wandio.ttc.android"
            class="app-link"
            ><img src="../../assets/images/icons/android.png" alt=""
          /></a>
          <a
            href="https://itunes.apple.com/us/app/tbilisi-transport/id1437141092?mt=8"
            class="app-link"
            ><img src="../../assets/images/icons/ios.png" alt=""
          /></a>
        </div>
      </article>
      <article
        class="image-nav-block item-2-1 image-black-level-30"
        style="background-image: url('../../assets/images/nav/online-pay.jpg')"
      >
        <a href="" class="image-nav-block-link">
          <h2 class="image-nav-block-title caps">
            {{ "pay a bus fine" | translate }}
          </h2>
        </a>
      </article>
      <article
        class="image-nav-block item-1-1 image-black-level-"
        style="background-image: url('../../assets/images/nav/online-help.jpg')"
      >
        <a href="" class="image-nav-block-link">
          <h2 class="image-nav-block-title caps">
            {{ "online help" | translate }}
          </h2>
        </a>
      </article>
      <article
        class="image-nav-block item-1-1 image-black-level-"
        style="background-image: url('../../assets/images/nav/news.jpg')"
      >
        <a href="/news" class="image-nav-block-link">
          <h2 class="image-nav-block-title caps">{{ "news" | translate }}</h2>
        </a>
      </article>
      <article
        class="image-nav-block item-2-1 image-black-level-"
        style="background-image: url('../../assets/images/nav/tariffs.jpg')"
      >
        <a href="/fares" class="image-nav-block-link">
          <h2 class="image-nav-block-title caps">{{ "fares" | translate }}</h2>
        </a>
      </article>
      <article
        class="image-nav-block item-4-1 image-black-level-"
        style="background-image: url('../../assets/images/nav/history.jpg')"
      >
        <a
          href="https://ttc.com.ge/ka/history"
          target="_blank"
          class="image-nav-block-link"
        >
          <h2 class="image-nav-block-title caps">
            {{ "tbilisi transport history" | translate }}
          </h2>
        </a>
      </article>
      <article
        class="image-nav-block item-1-1 image-black-level-"
        style="
          background-image: url('../../assets/images/nav/year-results.jpg');
        "
      >
        <a href="" class="image-nav-block-link">
          <h2 class="image-nav-block-title caps">
            {{ "reports" | translate }}
          </h2>
        </a>
      </article>
      <article
        class="image-nav-block item-1-1 image-black-level-"
        style="background-image: url('../../assets/images/nav/equality.jpg')"
      >
        <a href="" class="image-nav-block-link">
          <h2 class="image-nav-block-title caps">
            {{ "equal abilities" | translate }}
          </h2>
        </a>
      </article>
      <article
        class="image-nav-block item-2-1 check image-black-level-"
        style="background-image: url('../../assets/images/nav/advert.jpg')"
      >
        <a
          href="http://alma.ge/ge/45"
          target="_blank"
          class="image-nav-block-link"
        >
          <h2 class="image-nav-block-title caps">
            {{ "advertisment" | translate }}
          </h2>
        </a>
      </article>
    </div>
  </div>
</section>
