<div class="container">
  <nav class="header-menu">
    <ul class="header-menu-items">
      <li class="header-menu-item border-left">
        <a href="https://transit.ttc.com.ge/#/plan?setLng=ka" target="_blank">
          <span
            class="header-menu-img"
            style="
              background-image: url('../../assets/images/header/journey-planner.png');
            "
          ></span>
          {{ "journey planner" | translate }}
        </a>
      </li>
      <li class="header-menu-item">
        <a
          href="https://transit.ttc.com.ge/#/schedule?setLng=ka"
          target="_blank"
        >
          <span
            class="header-menu-img"
            style="
              background-image: url('../../assets/images/header/timetable.png');
            "
          ></span>
          {{ "timetables" | translate }}
        </a>
      </li>
      <li class="header-menu-item">
        <a
          href="https://transit.ttc.com.ge/#/realtime?setLng=ka"
          target="_blank"
        >
          <span
            class="header-menu-img"
            style="
              background-image: url('../../assets/images/header/head-menu-bus.png');
            "
          ></span>
          {{ "real time bus" | translate }}
        </a>
      </li>
      <li class="header-menu-item">
        <a
          href="https://transit.ttc.com.ge/#/board-info?setLng=ka"
          target="_blank"
        >
          <span
            class="header-menu-img"
            style="
              background-image: url('../../assets/images/header/tablo.png');
            "
          ></span>
          {{ "bus stop" | translate }}
        </a>
      </li>
      <li class="header-menu-item">
        <a href="https://parking.tbilisi.gov.ge/" target="_blank">
          <span
            class="header-menu-img"
            style="
              background-image: url('../../assets/images/header/parking.png');
            "
          ></span>
          {{ "tbilisi parking" | translate }}
        </a>
      </li>
    </ul>
  </nav>
</div>
