.vacancy {
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.vacancy:hover {
  border: 1px solid red;
}

.vacancy a {
  text-decoration: none;
  color: #4f8cfd;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 20px;
}

.container {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

section {
  background-color: #fafafa;
}

span {
  margin-bottom: 40px;
  padding-bottom: 30px !important;
  font-size: 40px;
  border-bottom: 2px solid red;
}

@media (max-width: 460px) {
  .vacancy a {
    font-size: 16px;
    padding: 3px 6px;
  }
  .vacancy {
    padding: 5px;
    margin: 5px 0px;
  }
}

@media (max-width: 350px) {
  .vacancy a {
    font-size: 12px;
  }
  span {
    font-size: 25px;
  }
}


@media (max-width: 280px) {
  .vacancy {
    text-align: center;
  }
}