<section>
  <div class="container">
    <span>{{ "vacancies" | translate }}</span>
    <div class="vacancy">
      <a href="">{{ "Software Engineer" | translate }}</a>
    </div>
    <div class="vacancy">
      <a href="">{{ "Graphic Designer" | translate }}</a>
    </div>
    <div class="vacancy">
      <a href="">{{ "Social Media Manager" | translate }}</a>
    </div>
    <div class="vacancy">
      <a href="">{{ "Programmer" | translate }}</a>
    </div>
    <div class="vacancy">
      <a href="">{{ "Sales Manager" | translate }}</a>
    </div>
    <div class="vacancy">
      <a href="">{{ "Marketing Specialist" | translate }}</a>
    </div>
  </div>
</section>
