<app-header-bottom></app-header-bottom>
<section>
  <div class="container">
    <h3 class="block-title caps">
      <span class="block-title-in">{{ "news" | translate }}</span>
    </h3>
  </div>
  <div class="content">
    <div class="container">
      <div class="row">
        <article class="news-item col-md-4">
          <a
            href="https://ttc.com.ge/index.php/en/news/425"
            class="news-item-link"
            target="_blank"
          >
            <span class="news-img">
              <img
                src="https://ttc.com.ge/sites/default/files/2021-09/2021-sustainability-award-silver-es-practice%20copy%204.png"
                alt="News"
              />
            </span>
            <h2 class="news-title caps">
              {{
                "Tbilisi Transport Company wins Silver Award in EBRD’s Sustainability Awards 2021 under Gender and Inclusion category"
                  | translate
              }}
            </h2>
            <span class="news-date mrglovani"
              >24 {{ "september" | translate }} 2021</span
            >
          </a>
        </article>
        <article class="news-item col-md-4">
          <a
            href="https://ttc.com.ge/index.php/en/news/213"
            class="news-item-link"
            target="_blank"
          >
            <span class="news-img">
              <img
                src="https://ttc.com.ge/sites/default/files/2019-12/konferencia%2003.JPG"
                alt="News"
              />
            </span>
            <h2 class="news-title caps">
              {{
                "The Tbilisi Transport Company LLC participated in the Global Gender Summit"
                  | translate
              }}
            </h2>
            <span class="news-date mrglovani"
              >05 {{ "december" | translate }} 2019</span
            >
          </a>
        </article>
        <article class="news-item col-md-4">
          <a
            href="https://ttc.com.ge/index.php/en/news/94"
            class="news-item-link"
            target="_blank"
          >
            <span class="news-img">
              <img
                src="https://ttc.com.ge/sites/default/files/2019-09/3eeeeeeeeeeeeee.png"
                alt="News"
              />
            </span>
            <h2 class="news-title caps">
              {{
                "INVITATION FOR TENDERS, Tbilisi Bus Extension Project"
                  | translate
              }}
            </h2>
            <span class="news-date mrglovani"
              >09 {{ "september" | translate }} 2019</span
            >
          </a>
        </article>
      </div>
    </div>
  </div>
</section>
